/*
Constant colors
*/
:root{
	--main-theme-color: teal;
	--main-theme-secondary-color: #146d83;
	--main-theme-color-light: #4cb0af;
	--main-theme-text-color: white;
	--main-background-color:rgba(0, 128, 128, 0.616);
	--corners-round: 8px;
}


html,
body {
	padding: 0;
	margin: 0;
	background: transparent;
}

/* Use OS default fonts */
body {
	font-family: -apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		'Helvetica Neue',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
	text-rendering: optimizeLegibility;
	font-feature-settings: 'liga', 'clig', 'kern';
}

header {
	position: absolute;
	width: 500px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -250px;
	text-align: center;
}

header h1 {
	font-size: 60px;
	font-weight: 200;
	margin: 0;
	padding: 0;
	opacity: 0.7;
}
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(static/mdfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
	  local('MaterialIcons-Regular'),
	  url(static/mdfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
	  url(static/mdfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
	  url(static/mdfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
  }
  .pad-small{
	  padding: 8px;
	  margin: 10px;
  }
  /*Component Styles*/
.wide-item{
	color: var(--main-theme-text-color);  
	background-color: var(--main-theme-color);
	transition: 0.25s;
	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
	padding: 0.8em;
	border-radius: var(--corners-round);
  }
	div.wide-item{
		margin: 4px 20px;
	}
  div.wide-item.waves-effect{
	display: block;
  }
  .wide-item:hover,.wide-item:focus{
	color: var(--main-theme-text-color);  
	background-color: var(--main-theme-secondary-color);
	
  }
  .wide-item:nth-child(2){
	  background-color: var(--main-theme-secondary-color);
  }
  .results-wrapper{
	  /*background-color: var(--main-background-color);*/
	  padding: 4px;
  }
